
{% extends 'main/base.html' %}

{% block content %}
</div><!-- /.container -->

      <hr class="featurette-divider">

      <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid bg-info text-dark py-5">
        <h1 class="display-5 fw-bold"> Наши контакты. </h1>
      </div>
    </div>
    </div>
    <p class="p-5 mb-4 display-6 fw-bold">Наш адрес: Город хххххх Улица ххххх Дом хх.</p>
    <p class="p-5 mb-4 display-6 fw-bold">Наш телефон: 8ххххххххх.</p>
    </div>

      <hr class="featurette-divider">



{% endblock %}